*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

#wrapper{   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fae7d986;
}

header{
    cursor: alias;
}

.basiclogic{
    cursor: alias;
    margin-top: 50px;
    border-radius: 8px;
    background-color: rgb(253, 206, 162);
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

.options{
    width:100%;
    display: flex;
    justify-content:  space-around;
    transform: translateY(100%);
    flex-wrap: wrap;
    
}


img{
    cursor: pointer;
}

.notice{
    cursor: alias;
    margin-top: 200px;
    padding: 8px;
    background-color: rgb(196, 253, 253);
    border-radius: 8px;
    color: rgba(28, 28, 177, 0.904);
    font-weight: bold;
    font-size: 1.6rem;
    padding-left: 16px;
    padding-right: 16px;
}

#note{
    margin-top: 200px;
    cursor: alias;
}

button{ 
    margin-top: 100%;
    border: none;
    border-radius: 8px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1.5rem;
    font-weight: bold;
    color:rgb(73, 3, 3);
    background-color:#fd9e50fd;
}

.outcome{
    cursor: alias;
}

h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(11, 4, 112);
    padding-bottom: 8px;
}